@import "../../scss/mixin";
.category-top {
  width: 90%;
  margin: 32px auto 25px auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  display: grid;
  align-content: center;
  align-items: center;
  justify-self: center;
  position: relative;
  padding-left: 1rem;

  @include mobile {
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: none;
    display: grid;
    margin: 100px auto 25px auto;
  }
  .breadcrumbs {
    text-align: left;
    font-size: 16px;
    color: #172026;
    grid-column-start: 1;
    span {
      color: #545d63;
    }
  }
  .product-count {
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 16px;
    font-weight: 600;
    color: #172026;

    @include mobile {
      grid-row-start: 3;
      grid-column-start: 1;
      text-align: center;
    }
  }
  .product-filter {
    @include mobile {
      display: none;
    }
    padding-right: 45px;
    border-radius: 6px;
    grid-column-start: 4;
    .product-sorting {
      border: 2px solid #b5b7bc;
      padding: 10px;
      border-radius: 6px;
      select {
        width: 100%;
        display: block;
        &:focus-visible {
          outline: none;
        }
        option {
          height: 20px;
        }
      }
    }
  }
  .product-sort-filter {
    display: none;
    @include mobile {
      display: grid;
      grid-row-start: 2;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin: 13px auto;
    }
    .filter-result {
      font-weight: 600;
      text-decoration: underline;
      display: flex;
      gap: 6px;
      line-height: 20px;
      height: 16px;
    }
    .short-product {
      font-weight: 600;
      text-decoration: underline;
      display: flex;
      gap: 10px;
    }
  }
}

.category {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  .category-wrapper {
    display: flex;
    width: 100%;
    .category-sidebar {
      width: 25%;
      display: flex;
      font-size: 1rem;
      align-self: flex-start;
      @include mobile {
        display: none;
      }
      .filter-sidebar {
        display: grid;
        max-width: 305px;
        width: 90%;
        z-index: 10;
        bottom: 0px;
        grid-template-rows: 1fr 7rem;
        .filter-sidebar-body {
          overflow: auto;
          padding-left: 1rem;
          .filter-sidebar-header {
            justify-content: space-between;
            display: grid;
            padding-bottom: 1rem;
            border-bottom: 2px solid rgba(209, 213, 219);
            h2 {
              line-height: 1;
              font-size: 1.25rem;
              align-items: center;
              display: flex;
              color: #181c24;
            }
            .current-filter {
              grid-template-columns: repeat(2, minmax(0, 1fr));
              display: grid;
              gap: 10px;
              li {
                border: 1px solid;
                padding: 10px;
                border-radius: 0.375rem;
                background-color: rgba(55, 65, 81, 1);
                color: #ffffff;
                display: flex;
                text-align: center;
                align-items: center;
                gap: 10px;
                font-size: 13px;
                .close {
                  cursor: pointer;
                  display: block;
                }
              }
            }
            .clearall {
              font-size: 12px;
              margin-top: 20px;
              cursor: pointer;
            }
          }
          .filter-sidebar-blocks {
            grid-template-columns: 100%;
            padding-bottom: 2rem;
            gap: 0.75rem;
            display: grid;
            text-transform: capitalize;
            .filter-sidebar-item {
              display: flex;
              gap: 1rem;
              text-align: center;
              align-items: center;
              justify-self: start;
              position: relative;
              .checkbox-checked {
                svg{
                  height: 24px;
                  width: 24px;
                  fill: #2a2cc7;
                }
              }
              .checkbox {
                height: 24px;
                width: 24px;
                border: 2px solid #91959c;
                border-radius: 3px;
              }
              img {
                width: 24px;
                height: 24px;
              }
              input[type="checkbox"] {
                visibility: hidden;
                position: absolute;
              }
              input[type="checkbox"]:checked {
                font-weight: bold;
              }
            }
          }
          .category-title {
            font-size: 1rem;
            padding: 1rem 0 1rem 0;
            color: #181c24;
            font-weight: 600;
          }
          .current-filter {
            &:empty {
              display: none;
            }
          }
          .filter-siderbar-blocks {
            grid-template-columns: 100%;
            padding-bottom: 2rem;
            gap: 0.75rem;
            display: grid;
            margin-left: -0.375rem;
          }
          .attr-color {
            .btn {
              border: 2px solid #dfe1e2;
              border-radius: 4px;
              padding: 19px 25px;
              text-align: center;
              display: inline-block;
              margin: 4px 2px;
              cursor: pointer;
              &.btn-black {
                background: #172026 0% 0% no-repeat padding-box;
              }
              &.btn-white {
                background: #ffffff 0% 0% no-repeat padding-box;
              }
              &.btn-darkGreen {
                background: #2d9d78 0% 0% no-repeat padding-box;
              }
              &.btn-yellow {
                background: #fdba5e 0% 0% no-repeat padding-box;
              }
              &.btn-blue {
                background: #2a2cc7 0% 0% no-repeat padding-box;
              }
              &.btn-red {
                background: #e34850 0% 0% no-repeat padding-box;
              }
              &.btn-darkBlue {
                background: #6408d3 0% 0% no-repeat padding-box;
              }
              &.btn-pink {
                background: #f9009a 0% 0% no-repeat padding-box;
              }
              &.btn-orange {
                background: #eb7327 0% 0% no-repeat padding-box;
              }
              &.btn-rainbow {
                background: transparent
                  linear-gradient(
                    180deg,
                    #af52ff 0%,
                    #7950e8 16%,
                    #4f5ada 29%,
                    #57cb76 43%,
                    #ebc250 56%,
                    #ff8810 69%,
                    #e32f0f 83%,
                    #bf1919 100%
                  )
                  0% 0%;
              }
            }
          }
        }
      }
    }
    .category-content {
      width: 75%;
      @include mobile {
        width: 100%;
      }
      section {
        .gallery {
          line-height: 1;
          grid-template-columns: repeat(1, minmax(0, 1fr));
          display: grid;
          grid-template-areas: "actions" "items";
          .gallery-items {
            gap: 2rem;
            display: grid;
            margin-bottom: 0.75rem;
            grid-area: items;
            grid-template-columns: repeat(3, 1fr);
            @include mobile {
              grid-template-columns: repeat(2, 1fr);
              gap: 1rem;
            }
            .item {
              row-gap: 0.5rem;
              align-content: flex-start;
              display: grid;
              max-width: 319px;
              max-height: 382px;
              @include mobile {
                width: 100%;
                max-width: 164px;
                min-width: 160px;
              }
              .item-image {
                display: grid;
                grid-template-areas: "main";
                position: relative;
                img {
                  object-fit: contain;
                  background-color: transparent;
                  display: block;
                  position: relative;
                  transition: opacity 512ms ease-out;
                  width: 169px;
                  height: 292px;
                  margin-left: 15%;
                  padding: 5%;
                  @include mobile {
                    width: 100%;
                    height: 196px;
                    margin: 0;
                  }
                }
                .item-name {
                  color: #172026;
                  font-weight: 600;
                  height: 1rem;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  display: -webkit-box !important;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  white-space: normal;
                  padding-left: 10px;
                  font-size: 18px;
                  @include mobile {
                    height: 2.5rem;
                    padding-top: 8px;
                    display: -webkit-box !important;
                    -webkit-line-clamp: 2;
                  }
                }
                .item-price {
                  min-height: 1.5rem;
                  color: rgb(17, 24, 39);
                  padding-top: 5px;
                  padding-left: 10px;
                  @include mobile {
                    padding-top: 6px;
                  }
                }
                .item-action {
                  padding-top: 1.094rem;
                  padding-left: 10px;
                  .icon-fev {
                    justify-content: center;
                    align-items: center;
                    display: inline-flex;
                    touch-action: manipulation;
                    background: url(../../assets/images/fev.svg) no-repeat;
                    background-size: contain;
                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
