@import "../../scss/variable";
@import "../../scss/mixin";
.header {
  border-bottom: 1px solid rgba(209, 213, 219);
  background-color: orangered;
  justify-content: center;
  // grid-auto-columns: minmax(0, 1fr);
  width: 100%;
  z-index: 40;
  top: 0px;
  position: sticky;
  display: grid;
  height: auto;
  background-image: url("../../assets/images/max-width_header.svg");
  overflow: hidden;
  .header-content {
    max-width: 1440px;
    width: 90%;
    align-content: center;
    align-items: center;
    justify-self: center;
    border-width: 0px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    @include mobile {
      grid-template-columns: repeat(6, minmax(0, 1fr));
      width: 100%;
    }

    height: 5rem;
    display: grid;
    padding-left: 1rem;
    padding-right: 1rem;

    .header-icon {
      display: none;
      @include mobile {
        display: inline;
      }
    }
    &.column-gap {
      column-gap: 2rem;
      @include mobile {
        column-gap: 1rem;
      }
    }

    .header-logo {
      position: relative;
      height: 18px;
      width: 102px;
      background-color: transparent;
      display: block;
      background-image: url(../../assets/images/logo.svg);
      background-repeat: no-repeat;
      @include mobile {
        grid-column-start: 3;
      }
    }
    .header-menu {
      grid-column-start: 5;
      grid-column-end: 10;
      display: flex;
      margin: 0 auto;
      .header-menu-title {
        padding: 0 0.75rem 0 0.75rem;
      }
      a {
        color: #000;
      }
      @include mobile {
        display: none;
      }
    }
    .header-secondary {
      display: flex;
      grid-auto-flow: column;
      grid-column-start: 11;
      @include mobile {
        grid-column-start: 6;
      }
      align-items: center;
      justify-items: end;
      justify-self: end;
      .right-nav {
        @include mobile {
          padding: 0 0.5rem 0 0;
          align-items: flex-start;
        }
        padding: 0 1.25rem 0 1.25rem;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        a {
          color: #000;
        }
        span {
          height: 20px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 53px;
          font-size: 16px;
          &.icon-search {
            background: url(../../assets/images/search.svg) no-repeat;
            background-size: contain;
            @include mobile {
              background-position: right;
            }
            width: 32px;
            height: 24px;
          }
          &.icon-signIn {
            background: url(../../assets/images/user.svg) no-repeat;
            background-size: contain;
            background-position: center;
            @include mobile {
              display: none;
            }
            width: 32px;
          }
          &.icon-busket {
            background: url(../../assets/images/busket.svg) no-repeat;
            background-size: contain;
            position: relative;
            background-position: center;
            width: 33px;
            .icon-badge {
              position: absolute;
              background-color: rgb(139, 9, 9);
              color: #ffffff;
              font-size: 10px;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              top: -12px;
              left: 19px;
            }
          }

          @include mobile {
            &.search {
              display: none;
            }
            &.signIn {
              display: none;
            }
          }
        }
      }
    }
  }
}
