@import "../../scss/mixin";
.product-quantity {
    grid-template-columns: auto 5.5rem auto;
    text-align: center;
    column-gap: 0.5rem;
    justify-items: center;
    justify-content: flex-start;
    @include mobile{
      justify-content: center;
      grid-template-columns: auto 10.5625rem auto;
    }
    align-items: center;
    display: grid;
    .decress-qty {
      border-radius: 9999px;
      justify-content: center;
      align-items: center;
      border: 2px solid #B5B7BC;
      width: 2rem;
      height: 2rem;
      display: inline-flex;
    }
    .filedIcon {
      grid-auto-flow: column;
      width: 100%;
      height: 2.5rem;
      display: inline-grid;
      grid-template-areas: "before input after";
      grid-template-columns: auto 1fr auto;
      .filedIcon-input {
        align-items: center;
        display: flex;
        grid-column: before-start / after-end;
        grid-row: input-start / input-end;
        .quanityStripper {
          padding-left: calc(1.875rem * 0 + 0.625rem);
          padding-right: calc(1.875rem * 0 + 0.625rem);
          text-align: center;
          background-color:#FFFFFF;
          border: 2px solid #B5B7BC;
          border-radius: 0.375rem;
          appearance: none;
          flex: 0 0 100%;
          max-width: 100%;
          height: 2.5rem;
          display: inline-flex;
          margin: 0px;
          padding: calc(0.375rem - 1px) calc(0.625rem - 1px);
          line-height: inherit;
        }
      }
    }
    .incress-qty {
      stroke: rgb(118 123 127 );
      background-color: rgba(255, 255, 255);
      border: 2px solid #B5B7BC;
      border-radius: 9999px;
      justify-content: center;    
      align-items: center;
      width: 2rem;
      height: 2rem;
      display: inline-flex

    }

  }